$medium-viewport:1068px;
$small-viewport:735px;

$tab-background:#eeffff;
$main-background:#bbdefb;

main{
    width: 100vw;
    height: 100vh;
    background-color: $main-background;
    #root{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
}

//Gauge
.gauge{
    height:100px;
    border:1px solid gray;
    width:30px;background: rgb(143,200,0);
    background: rgb(143,200,0);
    background: -moz-linear-gradient(top, rgb(143,200,0) 0%, rgb(255,0,0) 100%, rgb(143,200,0) 100%);
    background: -webkit-linear-gradient(top, rgb(143,200,0) 0%,rgb(255,0,0) 100%,rgb(143,200,0) 100%);
    background: linear-gradient(to bottom, rgb(143,200,0) 0%,rgb(255,0,0) 100%,rgb(143,200,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc800', endColorstr='#8fc800',GradientType=0 );
    position: relative;
    .curtain{
        background-color: $tab-background;
        height: 70%;
        transition: height 0.2s linear;
        z-index: 2;
    }
}

// TABS STYLES
.tabs{
    padding:10px;
    border-radius: 5px;
    background-color: $tab-background;

    .tabs__headers{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin:0;
        padding:0 0 10px;
        border-bottom: 1px solid black;
        margin-bottom:15px;

        li{
            padding:0 5px 0 5px;
            cursor: pointer;
            position: relative;
            box-sizing: border-box;

            &.active::after {
                content: '';
                display: block;
                position: absolute;
                bottom: -1;
                width: 50%;
                left: 25%;
                border-bottom:3px solid rgb(13, 15, 150);
            }

            &:hover::after {
                content: '';
                display: block;
                position: absolute;
                bottom: -1;
                width: 50%;
                left: 25%;
                border-bottom:3px solid rgb(13, 15, 150);
            }
        }
    }

    .tab{
        display: none;
        &.active{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}